* {
  scroll-behavior: smooth;
}

.background {
  background-image: url(../images/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cover {
  background: #12202d;
  height: 100%;
}

.banana {
  width: 15px;
}

.mangu {
  color: rgb(255, 255, 255);
}

.games {
  color: rgb(255, 255, 255);
}

.supercharadas {
  width: 200px;
}

.pasos {
  width: 800px;
}
